<html>
<head>
    <title>Jelszó visszaállítás</title>
</head>
<body>
    <h1>Jelszó visszaállítás</h1>
    <p>Kedves {{email}}!</p>
    <p>A jelszavad visszaállításához kattints az alábbi linkre:</p>
    <a href="{{resetUrl}}">Jelszó visszaállítása</a>
</body>
</html>